<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  </head>
  <body>

    <div id="header_container" class="header_container">
      <span id="home_button">HOME</span>
      <button id="login_link" class="login_link">login</button>
      <span id="user" class="login_link">
      </span>
      <img src="menu-bar-png-1.png" id="menu_button">
      <span id="menu_bar">

      </span>
    </div>
    <div id="note">
      <button onclick='document.getElementById("note").style.display="none";'>X</button>
      This website is still under development.<br>
      Functions that already work: list all jobs, search, apply without registration, logon as candidate 
      (user id: test, password: 123), login as employer (user id: ed, password: 123), add job, see applications.
    </div>

    <div id="home">
      <button id="all_jobs">show all jobs</button>
      <button id="add_job_button">add job</button>
      <div id="search">
        <input id="search_input" type="text">
        <button id="search_button">search</button>
      </div>
    </div>
    <div id="main_container" class="main_container"></div>
    <div id="login" class="main_text">
      user name:&nbsp;<input id="login_input" type="text"><br><br>
      &nbsp;password:&nbsp;<input id="password_input" type="text"><br><br>
      <button id="login_button">login</button><br>
      <span id="login_error"></span>
    </div>
    <div id="add_job" class="main_text">
      name:&nbsp;<input id="add_job_name" type="text"><br><br>
      description:&nbsp;<input id="add_job_description" type="text"><br><br>
      <button id="add_job_submit">submit</button><br>
      <div id="add_job_result"></div>
    </div>
    <div id="applications">
    </div>
    <div id="menu">
      <span class="close_box">X</span>
      <br>
      <span id="all_jobs_button" class="menu_opt">show all jobs</span><br>
      <span id="add_job_button_m" class="menu_opt">add job</span><br>
      <span id="see_apps_button" class="menu_opt">see applications</span><br>
      <span id="logout" class="menu_opt">logout</span>
    </div>
    
    <div id="open_box">
    </div>

    <div id="open_box_buttons_store1" class="store">
      <button id="reg_cv_button" class="apply_buttons">apply using registered cv</button>
      <button id="new_cv_button" class="apply_buttons">apply using new cv</button>
    </div>
    <div id="open_box_buttons_store2" class="store">
      <button id="login_apply_button" class="apply_buttons">login & apply</button>
      <button id="no_reg_button" class="apply_buttons">apply without registration</button>
    </div>
    <div id="open_box_apply_no_reg_store" class="store">
      <form enctype="multipart/form-data" id="cv_form" onsubmit="upload_cv_no_reg();" method="post">
        first name:&nbsp;<input id="apply_fname" type="text"><br><br>
        last name:&nbsp;<input id="apply_lname" type="text"><br><br>
        <label for="file">Upload CV:</label>
        <input type="file" id="apply_cv" name="file"><br><br>
        <input type="submit" id="apply_submit" value="submit application">
        <div id="no_reg_apply_result"></div>
      </form>
    </div>

    <!-- <p id="download_link" onclick="download();">calc.jpeg</p> -->

    <script src="scripts.js"></script>

  </body>
</html>

