html{
    background-color: #2e2b2b;
}

.header_container{
    background-color: #b8b888;
    height: 32px;
    padding: 9px;
}

.login_link{
    position: absolute;
    right: 55px;
    text-align: center;
}

#login_link{
    display: none;
}

#login_error{
    margin-top: 45px;
    display: block;
}

#user{
    background-color: #619bcd;
    padding: 5px;
    border-radius: 9px;
    display: none;
    width: 60px;
}

#logout_hover{
    display: none;
}

#user:hover #logout_hover{
    display: block;
    margin-top: 8px;
    padding: 2px;
    background-color: #a3c6e5;
    border-radius: 8px;
}

#menu1{
    position:absolute;left:0px;top:0px;z-index:2;width:100px;height:180px;
}

#menu{
    display: none;
    background-color: #5e6e5c;
    color: #c7d6e3;
    border-radius: 9px;
    border-style: solid;
    border-color: #665f43;
    position: fixed;
    top: 51px;
    right: 26px;
    height: 300px;
    width: 200px;
    z-index: 2;
    padding: 12px 2px 2px 10px;
}

#menu_button{
    position: fixed;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
}

#home{
    text-align: center;
}

#all_jobs{
    margin: 10px;
}

#add_job{
    display: none;
    margin: 100px 0 0 30px;
}

#add_job_button{
    display: none;
}

#add_job_result{
    margin-top: 80px;
}

#search{
    margin: 100px 0 10px 0;
}

#search_input{
    border-style: groove;
    height: 25px;
}

.main_container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: #e5e5e5;
    padding: 2px;
}

#main_container{
    display: none;
}

.main_text{
    color: #e1e1e1;
    text-align: center;
}

#login{
    display: none;
    margin: 100px 0 0 0;  
}

#menu_bar{
    display: none;
    position: absolute;
    right: 100px;
    top: 10px;
}

.box{
    width: 95%;
    background-color: #464646;
    border-color: #a5b4c2;
    padding: 6px;
    border-radius: 9px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    text-align: left;
}

.close_box{
    position: absolute;
    right: 10px;
    top: 5px;}

#open_box{
    display: none;
    position: fixed;
    border-radius: 9px;
    padding: 9px;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    width: 82%;
    height: 500px;
    background-color: gray;
    z-index: 1;
}

@media only screen and (min-width: 400px) {
  #menu_button{
    display: none;
  }

  #menu_bar{
      display: block;
  }

  .box{
      width: 200px;
  }

  #open_box{
      width: 90%;
  }
}